<div ng-show="currentView === 'createdDecks'" id="deckTable">
  <h3>My Decks</h3>
  <ul>
    <li>
      <span class="deckName">Deck Name</span>
      <span class="desc">This is a description of the deck</span>
    </li>
    <li ng-repeat='deck in decks'>
      <div ng-click="currentDeck(); setDeck($index)" class="link deckName" >{{ deck.deckname.toUpperCase() }}</div>
      <span class="desc">{{ deck.description }}</span>
    </li>
  </ul>
  <button ng-click="createDeck()">Create a Deck</button>
</div>
