<div ng-show="currentView === 'createdDecks'" id="deckTable">
  <h3>My Decks</h3>
  <div>
    <label><input type='checkbox' ng-model='filter.myDecks'>My Decks</label><br>
    <label><input type='checkbox' ng-model='filter.publicDecks'>Public Decks</label><br>
    <button id="createDeckButton" ng-click="createDeck()">Create a Deck</button>
  </div>
  <table>
    <tr>
      <td class="columnHeader">Deck Name</td>
      <td class="columnHeader">Description</td>
      <td class="columnHeader">Created by</td>
      <td class="columnHeader">Last update</td>
    </tr>
    <tr ng-repeat='deck in filtered = (decks | filter: filterData)'>
      <td ng-click="currentDeck(); setDeck($index)" class="deckName" >{{ deck.deckname.toUpperCase() }}</td>
      <td class="rowData">{{ deck.description }}</td>
      <td class="rowData">{{ deck.username }}</td>
      <td class="rowData">{{ deck.updatedAt }}</td>
    </tr>
  </table>
</div>
